.wrap-v {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .iframer-content {
        width: 800px;
        height: 300px;
        background: #555;
        iframe{
            width: 100%;
            height: 100%;
        }
    }
    .container {
        padding-top: 70px;
        width: 90%;
        height: 100%;
        // background: #ccc;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .container-left {
            width: 75%;
            height: 100%;

            // background: gray;
            .c-l-tip {
                width: 100%;
                // height: 250px;
                background: #ddd;
                margin-top: 20px;
                border-radius: 10px;
                padding: 20px;
                box-shadow: 2px 3px 10px 1px #ddd;

                .header {
                    font-size: 25px;
                    // font-weight: 800;
                }

                .introduce {
                    padding-top: 10px;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    span {
                        font-size: 14px;
                        padding-right: 10px;
                    }
                }

                .content {
                    padding-top: 20px;
                    text-indent: 2em;
                    color: #555;
                    line-height: 25px;
                }
            }
        }

        .container-right-v {
            width: 24%;
            background: #fff;
            border: 2px solid #ccc;
            margin-top: 20px;
            border-radius: 10px;
            box-shadow: 1px 1px 5px #fff;
            position: relative;
            overflow: hidden;
            .linssse-canvas {
                width: 100%;
                height: 1000px;
                position: absolute;
                top: 0;
            }

            .linssse-content {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                z-index: 22;
            }
        }
    }
}
.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
}

.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}