.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
body {
  width: 100% !important;
  background-color: #fbfbfb !important;
}
.wraper {
  width: 100%;
  background: #fbfbfb;
}

.footer {
  width: 100%;
  height: 50px;
  // background: #ccc;
  position: relative;
  bottom: 0;
  text-align: center;
}
